<!DOCTYPE html>
<html lang="en">

<head>
	<title>Milky Way Medium - Register</title>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	
	<!-- Base stylesheet for all pages -->
	<link rel="stylesheet" type="text/css" href="../components/stylesheets/index.css" />
	
	<!-- Site logo browser icon (.ico) -->
	<link rel="icon" href="../components/images/favicon.ico">
	
</head>



<body>
	<!-- Navigation bar -->
	<div class="navBar">
	
		<!-- Left portion of navigation (logo and site title) -->
		<a href="../" class="navBarInnerLeftHovering">
			<div>
				<img src="../components/images/animated.gif" id="navImageLogo">
				<img src="../components/images/hover.gif" id="navImageHidden">
			</div>
			<div class="navBarInnerLeft"><div id="small">MIL<span style="letter-spacing: 2px;">KY</span><span style="letter-spacing: 1px;"> </span><span style="letter-spacing: -4px;">WAY</span><br></div>MEDIUM</div>
		</a>
		
		<!-- Right portion of navigation (page links) -->
		<div class="navBarInnerRight">
			<a id="login" href="../login/">LOG IN</a>
			<a id="register" style="opacity: 0.4" href="../register">CREATE &nbsp;ACCOUNT</a>
			<a href="https://github.com/MilkyWayMedium/MilkyWayMedium.github.io/releases">ABOUT</a>
		</div>
		
	</div>
	<br><br><br><br><br><br>
	
	
	<!-- Block feed -->
	<div class="container" id="container">
		<div id="blockContent" class="block-content">
		
			<h2 class="title">CREATE A NEW ACCOUNT</h2>
			<br>
			
			<form id="register-form">

				<!-- Email address section -->
				<label id="label-email" for="email"><b>Email Address</b></label>
				<br>
				<span id="caption-email" class="caption">Please enter a valid email address...</span>
				
				<div id="box1">
					<input type="text" placeholder="Example: Scooter@gmail.com" id="email" name="email" required>
				</div>
				<br>
				
				<!-- Username section -->
				<label id="label-username" for="username"><b>Username</b></label>
				<br>
				<span id="caption-username" class="caption">Please enter a unique username...</span>
				
				<div id="box2">
					<input type="text" placeholder="Example: Scooter" id="username" name="username" required>
				</div>
				<br>
				
				<!-- Continue creating a new account button -->
				<span id="button1">
					<button id="continueButton" class="button-login" style="width: 100%; height: 55px;" type="button">CONTINUE</button>
				</span>
				<br>
				
			</form>
			
		</div>
	</div>
	
	<script src="../dist/bundle.js"></script>
	
</body>

</html>


